.cosplay{
    /* background-color: beige; */
    min-height: 100vh;
    position: relative;
}
.cosplay_image{
    width: 35vw;
    height: 35vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cosplay_image img{
    height: 150%;
}
.cosplay_text{
    width: 45vw;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14%;
    overflow: hidden;
    opacity: 0;
    text-align: justify;
}
.cosplay_text p{
    font-family: 'Absolut Headline';
    font-size: 3vw;
}
.cosplay_text h1{
    font-family: 'Absolut Headline';
    color: gold;
    -webkit-text-stroke-width: 1px;
    font-size: 5vw;
    /* -webkit-text-stroke-color: white; */
}
@media screen and (max-width:816px) {
    .cosplay_text{
        width: 90vw;
        left: 5vw;
    }
}
@media screen and (max-width:320px) {
    .cosplay_image{
        width: 15vw;
        height: 25vh;
    }
    
    
}